functions_framework==3.8.2
pdfminer.six==20240706
protobuf==3.20.3
spacy==3.8.2
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
google-cloud-pubsub
google-cloud-storage
transformers
tensorflow
tf-keras
